<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title> Punts de llibre </title>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="ISO-8859-1" />

    <script language="JavaScript" src="puntsDeLlibre.js" type="application/javascript"></script>
    <noscript> you need javascript to continue </noscript>
</head>
<body>
<form action="">Hello World</form>
<!--<script language="JavaScript" type="application/javascript">-->
<!--</script>-->
</body>
</html>