<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title> pineappleAlert </title>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="ISO-8859-1" />
    <link rel="stylesheet" type="text/css" href="pineapplePizza.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script language="JavaScript" src="pineapplePizza.js" type="application/javascript"></script>
    <noscript> you need javascript to continue </noscript>
<body>
<script language="JavaScript" type="application/javascript">
    initialize()
</script>
</body>
</html>
